.app {
  background-color: #383435;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (max-width: 768px) {
    height: 100%;
  }
}

.app__bg {
  height: 100%;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app__logo {
  position: relative;
  margin: 0 auto;
  top: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  transition: 1s ease-in-out;

  &:hover {
    transform: rotate(360deg);
  }
}

.home__title {
  max-width: 100%;
  position: relative;
}

.nav--desktop .app__link {
  display: inline-block;
  overflow: hidden;
  &:before,
  &:after {
    right: 0;
    bottom: 0;
  }
  &:before {
    width: 100%;
    height: 1px;
    transform: translateX(-100%);
  }
  &:after {
    width: 1px;
    height: 100%;
    transform: translateY(100%);
  }
  > span {
    display: block;
    padding: 10px;
    &:before,
    &:after {
      left: 0;
      top: 0;
    }
    &:before {
      width: 100%;
      height: 1px;
      transform: translateX(100%);
    }
    &:after {
      width: 1px;
      height: 100%;
      transform: translateY(-100%);
    }
  }
  &:hover:before,
  &:hover:after,
  &:hover > span:before,
  &:hover > span:after {
    transform: translate(0, 0);
  }
}

.nav--desktop .app__link,
.nav--desktop .app__link > span {
  text-decoration: none;
  line-height: 24px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    background-color: #fff;
    transition: transform 0.5s ease;
  }
}

.app__link {
  position: absolute;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;

  &.mod--top-left {
    top: 1.75rem;
    left: 2rem;
  }
  &.mod--top-right {
    top: 1.75rem;
    right: 2rem;
  }
  &.mod--bottom-left {
    bottom: 1.75rem;
    left: 2rem;
  }
  &.mod--bottom-right {
    bottom: 1.75rem;
    right: 2rem;
  }
}

.nav--desktop {
  @media (max-width: 767px) {
    display: none;
  }
}

.nav--mobile {
  background: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  height: 0;
  transition: 1s ease;
  display: none;

  .app__link {
    margin: 1rem;
    position: relative;
  }

  @media (max-width: 767px) {
    &.mod--open {
      display: flex;
      height: 100%;
    }
  }
}

.nav__toggle {
  position: absolute;
  top: 2rem;
  right: 1.5rem;

  @media (min-width: 768px) {
    display: none;
  }
}

.nav__icon {
  width: 35px;
  height: 25px;
  position: relative;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 10;

  span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2),
  span:nth-child(3) {
    top: 10px;
  }

  span:nth-child(4) {
    top: 20px;
  }

  &.mod--open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
  }

  &.mod--open span:nth-child(2) {
    transform: rotate(45deg);
  }

  &.mod--open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  &.mod--open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
  }
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
}

.page__container {
  margin: 0 2rem;
  max-width: 40rem;
  text-align: center;

  .work & {
    max-width: 70rem;
  }

  @media (max-width: 768px) {
    margin: 1rem;
  }
}

.home {
  width: calc(100% - 6rem);
  max-width: 800px;
  @media (min-width: 768px) {
    max-width: 1000px;
  }
}

.about {
  text-align: center;
}

.work {
  position: relative;
  justify-content: flex-start;
  margin-top: 4rem;
}

.grid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.grid__item {
  flex-basis: 33.3333%;
  position: relative;
  padding: 1rem;
  box-sizing: border-box;

  @media (max-width: 768px) {
    flex-basis: 50%;
  }

  @media (max-width: 480px) {
    flex-basis: 100%;
  }
}

.grid__img {
  width: 100%;
}
